$font-main:'Open Sans', sans-serif;

$white:#ffffff;
$light-gray:#f3f2f1;

$dark-blue:#050a4b;
$oxford-blue: #0B132B;
$o-blue2:#002855;
$true-blue:#0466C8;
$u-blue:#0353A4;
$space-cadet:#1C2541;
$independence: #3A506B;
$blue-green:#5BC0BE;
$t-blue: #6FFFE9;

$main-gradient: linear-gradient(356deg, #002855 27%, #0b132b 100%);
$body-color: #f8f8f8;
$body-color-darken: darken($body-color, 5%);
$main-color: #0b78e6;
$main-color-darken: darken($main-color, 5%);
$text-color: rgb(80, 80, 80);
$secondary-color: #0926ffcc;
$accent-color: #03AFC2;

